* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/*INDEX PAGE*/
/* Style the navigation bar */
.tab {
  overflow: hidden;
  border-bottom: 7px solid black;
}
  
/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  font-size: 130%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
}
  
/* Change background color of buttons on hover */
.tab button:hover {
  text-decoration: underline red;
}

.center {
  padding-top: 25px;
  text-align: center;
  border: 1px solid red;
}

#logo {
  max-width: 60%;
  display: inline-block;
}

.pageContent {
  padding-left: 50px;
  padding-right: 50px;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px red solid;
}

.description {
  padding-left: 200px;
  padding-right: 200px;
}

.title { 
  font-size: 300%;
  font-family: fantasy, serif;
  -webkit-text-fill-color: rgb(17, 154, 255);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color:rgb(66, 62, 62);
  padding-left: 150px;
  padding-right: 150px;
}

/*PLAY PAGE*/
.row {
  padding-left: 100px;
  padding-right:100px
}

.rooms {
  margin-left: 3px;
  text-align: center;
}

/*Info in Play tab*/
.playdetails {
  padding-left: 50px;
  padding-right: 50px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

/*button styling*/
.btn {
  border: 1px solid #f7300d;
  background: none;
  padding: 10px 20px;
  font-size: 20px;
  font-family: "montserrat";
  cursor: pointer;
  margin: 130px;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
}

.btn1,.btn2,.btn3,.btn4 {
  color: #000305;
}

.btn1:hover,.btn2:hover,.btn3:hover,.btn4:hover {
  color: #fff;
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #fa2408;
  z-index: -1;
  transition: 0.8s;
}

.btn1::before,.btn3::before,.btn2::before,.btn4::before {
  top: 0;
  border-radius: 0 0 50% 50%;
}
 
.btn1:hover::before,.btn2:hover::before,.btn3:hover::before,.btn4:hover::before {
  height: 180%;
}

/*Images in play tab styling*/
.column {
  float: left;
  width: 25%;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

/*ABOUT TAB*/
.profilePic {
  border-radius: 50%;
  width: 250px;
}

.profileContent {
  padding-left: 50px;
  padding-right: 50px;
  width: 25%;
  border: red 1px solid;
}