* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/*INDEX PAGE*/
/* Style the navigation bar */
.tab {
  overflow: hidden;
  border-bottom: 7px solid black;
}
  
/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  font-size: 130%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
}
  
/* Change background color of buttons on hover */
.tab button:hover {
  text-decoration: underline red;
}

.center {
  padding-top: 25px;
  text-align: center;
  border: 1px solid red;
}

#logo {
  max-width: 60%;
  display: inline-block;
}

.pageContent {
  padding-left: 50px;
  padding-right: 50px;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px red solid;
}

.description {
  padding-left: 200px;
  padding-right: 200px;
}

.title { 
  font-size: 300%;
  font-family: fantasy, serif;
  -webkit-text-fill-color: rgb(17, 154, 255);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color:rgb(66, 62, 62);
  padding-left: 150px;
  padding-right: 150px;
}

/*PLAY PAGE*/
.row {
  padding-left: 100px;
  padding-right:100px
}

.rooms {
  margin-left: 3px;
  text-align: center;
}

/*Info in Play tab*/
.playdetails {
  padding-left: 50px;
  padding-right: 50px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

/*button styling*/
.btn {
  border: 1px solid #f7300d;
  background: none;
  padding: 10px 20px;
  font-size: 20px;
  font-family: "montserrat";
  cursor: pointer;
  margin: 130px;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
}

.btn1,.btn2,.btn3,.btn4 {
  color: #000305;
}

.btn1:hover,.btn2:hover,.btn3:hover,.btn4:hover {
  color: #fff;
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #fa2408;
  z-index: -1;
  transition: 0.8s;
}

.btn1::before,.btn3::before,.btn2::before,.btn4::before {
  top: 0;
  border-radius: 0 0 50% 50%;
}
 
.btn1:hover::before,.btn2:hover::before,.btn3:hover::before,.btn4:hover::before {
  height: 180%;
}

/*Images in play tab styling*/
.column {
  float: left;
  width: 25%;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

/*ABOUT TAB*/
.profilePic {
  border-radius: 50%;
  width: 250px;
}

.profileContent {
  padding-left: 50px;
  padding-right: 50px;
  width: 25%;
  border: red 1px solid;
}

/* Playroom */
.roombody{
  margin:30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container{
  border-radius: 30px;
  width:980px;
  height: 640px;
  background: rgb(87, 171, 240);
  margin: 70px auto 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container .box{
  position: relative;
  width: 300px;
  height: 300px;
  background: rgb(245, 220, 108);
  margin:10px; /*btw pictures*/
  box-sizing: border-box;
  display: inline-block;
  border-radius: 30px;
}

.container .box .imgbox {
  position: relative;
  overflow: hidden; /*image expands inside*/
}

.container .box .imgbox img {
  border-radius: 30px 30px 0 0;
  max-width: 100%;
  transition: transform 1s; /**speed of picture*/
}

.container .box:hover .imgbox img {
  transform: scale(1,1.4)
}

/*question appear &color/shape*/
.container .box .word {
  position: absolute;
  top: 50px;
  left: 10px;
  bottom: 110px; /*to show answerbox*/
  right: 10px;
  background :#fedc95;
  transform: scaleY(0); /*zero here*/
  transition: transform 0.5s;
  border-radius: 30px;
}

.container .box:hover .word {
  transform: scaleY(1); /*one here*/
}

.container .box .word .question{
  position: absolute;
  top: 50%;
  transform: translateY(-50%); /*middle*/
  text-align:center;
  padding: 20px; /*space btw texts and box*/
 
}

/*question words font (color/size) */
.container .box .word p{
margin: 10px 0 0 ;
padding: 3;
font-size:14;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color:black;
}

/*answer box*/
.container .box .answer{
  margin: 10px 0 0 ;
  padding: 3;
  text-align: center;
  }



